# ENVIRONMENT
NODE_ENV=development

# 
PORT=3000

# Log(0-error || 1-warn || 2-info || 3-http || 4-verbose || 5-debug || 6-silly)
LOG_LEVEL = silly

#DATABASE
DB_USER = Your DB user \\ Default: root
DB_PASS = Your DB password \\ Default: 
DB_NAME = Your DB name \\ Default: disney_chars_api
DB_HOST = Your DB host \\ Default: 127.0.0.1
DB_PORT = Your DB port \\ Default: 3306
DB_DIALECT = Your DB dialect \\ Default: mysql
#sequelize logging | default: false
LOGGING = logging preferences (console.log || false)

#JSONWEBTOKEN
JWT_SECRET= Your Secret Work
JWT_EXPIRES= Your token's expire time 
